* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html:lang(th) {
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
}

