{% extends 'layout.html' %}
{% load static %}

<title>{% block name %} ยาที่ต้องทานวันนี้ {% endblock %}</title>

{% block mycss %}
<style>
    .outerdiv {
        background: #E8E8E8;
        margin-top: 20px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    .innerdiv {
        background-color: white;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .status_whitebox {
        background-color: #FF9F9F;
        border-radius: 12px;
        padding: 8px;
    }


    .status_meal {
        background-color: #D6DCFC;
        margin: 8px;
        border-radius: 12px;

    }


    .accordion-button {
        font-size: 1.1rem;
        font-weight: bold;
    }

    .accordion-item {
        margin-bottom: 15px;
    }

    .accordion-body {
        font-size: 0.95rem;
    }

    .accordion-button h3 {
        margin: 0;
        font-size: 1.2rem;
    }

    .accordion-button .details {
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.5;


    }

    .checkbox-large {
        width: 20px;
        height: 20px;
        transform: scale(1.5);
        /* Increase the size by 1.5 times */
        margin-right: 10px;
        /* Add spacing between checkbox and label */
    }
</style>
{% endblock %}


{% block content %}

<div class="container-fluid outerdiv text-black col-11">
    <!-- กล่องแรก -->
    <div class="row innerdiv">
        <div class="row">
            <h5 class="col-7">{{day}} {{th_month}} {{year}}</h5>
            {% if all_status == False%}
            <div class="col-5 status_whitebox text-center">
                ทานยาไม่ครบ
            </div>
            {% elif all_status == True %}
            <div class="col-5 status_whitebox text-center" style="background-color: #85FF71;">
                ทานยาครบ
            </div>
            {% else %}
            <div class="col-5 status_whitebox text-center" style="background-color: #85FF71;">
                ไม่มียาที่ต้องทาน
            </div>
            {% endif %}

        </div>
        <div class="row">
            <p class="col" style="font-size: 18px;">{{patient.name}}</p>
        </div>
        <a type="" class="btn btn-danger" href="{% url 'report' %}"> รายงานผลข้างเคียง </a>    
    </div>

    <!-- Accordion -->
    <div class="accordion" id="accordionExample">

        <!-- ตอนเช้า + กินยาไม่ครบ-->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                    style="background-color: #C4F0FA;">
                    <div>
                        <h3 style="margin-bottom: 12px; margin-left: 4px;">ตอนเช้า</h3>

                        <!-- Div สีขาวขอบมนสำหรับ "จำนวนยาที่ต้องทาน : 1 เม็ด" -->

                        <br>

                        {% if morning_status == False %}
                        <div
                            style="background-color: #FF9F9F; padding: 5px 10px; border-radius: 12px; display: inline-block;">
                            สถานะ: ทานยาไม่ครบ
                        </div>
                        {% elif morning_status == True %}
                        <div
                            style="background-color: #85FF71; padding: 5px 10px; border-radius: 12px; display: inline-block;">
                            สถานะ: ทานยาครบ
                        </div>
                        {% elif morning_status == 2 %}
                        <div
                            style="background-color: #85FF71; padding: 5px 10px; border-radius: 12px; display: inline-block;">
                            สถานะ: ไม่มียาที่ต้องทาน
                        </div>
                        {% endif %}
                    </div>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">


                    <!-- card เเสดงรายละเอียดยา -->
                    {% for medicine in medicine_morning %}
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">

                            <div class="col-md-4">
                                <img src="{{medicine.medication.image.url}}" class="img-fluid rounded-start"
                                    alt="...">
                            </div>

                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">{{medicine.medication.name}}</h4>
                                    <div class="row">
                                        <p class="card-text col-6" style="font-size: 18px;">ปริมาณ:
                                            {{medicine.quantity}}</p>
                                        <div class="col-6 status_meal text-center" style="font-size: 18px;">
                                            {{medicine.before_after}}
                                        </div>
                                    </div>
                                    <p class="card-text" style="font-size: 18px;">{{medicine.medication.side_effects}}
                                    </p>

                                    <form method="post" action="{% url 'update_status' medicine.id %}">
                                        {% csrf_token %}
                                        {% if present_status == False %}
                                        <input class="form-check-input checkbox-large" type="checkbox" disabled
                                        id="check{{medicine.id}}" {% if medicine.is_eaten %} checked {% endif %} 
                                        name = "is_eaten">
                                        {% else %}
                                        <input class="form-check-input checkbox-large" type="checkbox"
                                            id="check{{medicine.id}}" {% if medicine.is_eaten %} checked {% endif %} 
                                            name = "is_eaten">
                                        {% endif %}                                      
                                        <label class="form-check-label" for="flexCheckDefault">
                                            <p style="font-size: 18px;">ทานยาเเล้ว</p>
                                        </label>
                                        <br>
                                        {% if present_status != False %}
                                            <button type="submit" class="btn btn-success" >บันทึกสถานะการทานยา </button>
                                        {% endif %}
                                            <button type="submit" class="btn btn-success" >รายงานผลข้างเคียง </button>
                                    </form>


                                    <br>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}





                </div>
            </div>
        </div>

        <!-- ตอนกลางวัน + กินยาครบ -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                    style="background-color: #F4D6D6;">
                    <div>
                        <h3 style="margin-bottom: 12px; margin-left: 4px;">ตอนกลางวัน</h3>

                        <!-- Div สีขาวขอบมนสำหรับ "จำนวนยาที่ต้องทาน : 1 เม็ด" -->
                        <br>

                        <!-- สถานะทานยา -->
                        {% if noon_status == False %}
                        <div
                            style="background-color: #FF9F9F; padding: 5px 10px; border-radius: 12px; display: inline-block;">
                            สถานะ: ทานยาไม่ครบ
                        </div>
                        {% elif noon_status == True %}
                        <div
                            style="background-color: #85FF71; padding: 5px 10px; border-radius: 12px; display: inline-block;">
                            สถานะ: ทานยาครบ
                        </div>
                        {% elif noon_status == 2 %}
                        <div
                            style="background-color: #85FF71; padding: 5px 10px; border-radius: 12px; display: inline-block;">
                            สถานะ: ไม่มียาที่ต้องทาน
                        </div>
                        {% endif %}


                    </div>
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">


                    <!-- card เเสดงรายละเอียดยา -->
                    {% for medicine in medicine_noon %}
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">

                            <div class="col-md-4">
                                <img src="{{medicine.medication.image.url}}" class="img-fluid rounded-start"
                                    alt="...">
                            </div>

                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">{{medicine.medication.name}}</h4>
                                    <div class="row">
                                        <p class="card-text col-6" style="font-size: 18px;">ปริมาณ:{{medicine.quantity}}</p>
                                        <div class="col-6 status_meal text-center" style="font-size: 18px;">
                                            {{medicine.before_after}}
                                        </div>
                                    </div>
                                    <p class="card-text" style="font-size: 18px;">{{medicine.medication.side_effects}}
                                    </p>

                                    <form method="post" action="{% url 'update_status' medicine.id %}">
                                        {% csrf_token %}
                                        
                                        {% if present_status == False %}
                                        <input class="form-check-input checkbox-large" type="checkbox" disabled
                                        id="check{{medicine.id}}" {% if medicine.is_eaten %} checked {% endif %} 
                                        name = "is_eaten">
                                        {% else %}
                                        <input class="form-check-input checkbox-large" type="checkbox"
                                            id="check{{medicine.id}}" {% if medicine.is_eaten %} checked {% endif %} 
                                            name = "is_eaten">
                                        {% endif %}

                                        <label class="form-check-label" for="flexCheckDefault">
                                            <p style="font-size: 18px;">ทานยาเเล้ว</p>
                                        </label>
                                        <br>
                                        {% if present_status != False %}
                                            <button type="submit" class="btn btn-success" >บันทึกสถานะการทานยา </button>
                                        {% endif %}
                                        
                                    </form>


                                    <br>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>



        <!-- ตอนเย็น + ไม่มียาที่ต้องกิน -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                    style="background-color: #FEF8D8;">
                    <div>
                        <h3 style="margin-bottom: 12px; margin-left: 4px;">ตอนเย็น</h3>

                        <!-- Div สีขาวขอบมนสำหรับ "จำนวนยาที่ต้องทาน : 1 เม็ด" -->

                        <br>

                        <!-- Div สีแดงขอบมนสำหรับ "สถานะ: กินยาไม่ครบ" -->
                        <!-- สถานะทานยา -->
                        {% if eve_status == False %}
                        <div
                            style="background-color: #FF9F9F; padding: 5px 10px; border-radius: 12px; display: inline-block;">
                            สถานะ: ทานยาไม่ครบ
                        </div>
                        {% elif eve_status == True %}
                        <div
                            style="background-color: #85FF71; padding: 5px 10px; border-radius: 12px; display: inline-block;">
                            สถานะ: ทานยาครบ
                        </div>
                        {% elif eve_status == 2 %}
                        <div
                            style="background-color: #85FF71; padding: 5px 10px; border-radius: 12px; display: inline-block;">
                            สถานะ: ไม่มียาที่ต้องทาน
                        </div>
                        {% endif %}


                    </div>
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">


                    <!-- card เเสดงรายละเอียดยา -->
                    {% for medicine in medicine_eve %}
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">

                            <div class="col-md-4">
                                <img src="{{medicine.medication.image.url}}" class="img-fluid rounded-start"
                                    alt="...">
                            </div>

                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">{{medicine.medication.name}}</h4>
                                    <div class="row">
                                        <p class="card-text col-6" style="font-size: 18px;">ปริมาณ:
                                            {{medicine.quantity}}</p>
                                        <div class="col-6 status_meal text-center" style="font-size: 18px;">
                                            {{medicine.before_after}}
                                        </div>
                                    </div>
                                    <p class="card-text" style="font-size: 18px;">{{medicine.medication.side_effects}}
                                    </p>

                                    <form method="post" action="{% url 'update_status' medicine.id %}">
                                        {% csrf_token %}
                                        
                                        {% if present_status == False %}
                                        <input class="form-check-input checkbox-large" type="checkbox" disabled
                                        id="check{{medicine.id}}" {% if medicine.is_eaten %} checked {% endif %} 
                                        name = "is_eaten">
                                        {% else %}
                                        <input class="form-check-input checkbox-large" type="checkbox"
                                            id="check{{medicine.id}}" {% if medicine.is_eaten %} checked {% endif %} 
                                            name = "is_eaten">
                                        {% endif %}                                         
                                        <label class="form-check-label" for="flexCheckDefault">
                                            <p style="font-size: 18px;">ทานยาเเล้ว</p>
                                        </label>
                                        <br>
                                        {% if present_status != False %}
                                            <button type="submit" class="btn btn-success" >บันทึกสถานะการทานยา </button>
                                        {% endif %}
                                    </form>


                                    <br>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}



                </div>
            </div>
        </div>


        <!-- ตอนกลางคืน -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"
                    style="background-color: #eadbec;">
                    <div>
                        <h3 style="margin-bottom: 12px; margin-left: 4px;">ตอนกลางคืน</h3>

                        <!-- Div สีขาวขอบมนสำหรับ "จำนวนยาที่ต้องทาน : 1 เม็ด" -->

                        <br>

                        <!-- Div สีแดงขอบมนสำหรับ "สถานะ: กินยาไม่ครบ" -->
                        <!-- สถานะทานยา -->
                        {% if night_status == False %}
                        <div
                            style="background-color: #FF9F9F; padding: 5px 10px; border-radius: 12px; display: inline-block;">
                            สถานะ: ทานยาไม่ครบ
                        </div>
                        {% elif night_status == True %}
                        <div
                            style="background-color: #85FF71; padding: 5px 10px; border-radius: 12px; display: inline-block;">
                            สถานะ: ทานยาครบ
                        </div>
                        {% elif night_status == 2 %}
                        <div
                            style="background-color: #85FF71; padding: 5px 10px; border-radius: 12px; display: inline-block;">
                            สถานะ: ไม่มียาที่ต้องทาน
                        </div>
                        {% endif %}

                    </div>
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">


                    <!-- card เเสดงรายละเอียดยา -->
                    {% for medicine in medicine_night %}
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">

                            <div class="col-md-4">
                                <img src="{{medicine.medication.image.url}}" class="img-fluid rounded-start"
                                    alt="...">
                            </div>

                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">{{medicine.medication.name}}</h4>
                                    <div class="row">
                                        <p class="card-text col-6" style="font-size: 18px;">ปริมาณ:
                                            {{medicine.quantity}}</p>
                                        <div class="col-6 status_meal text-center" style="font-size: 18px;">
                                            {{medicine.before_after}}
                                        </div>
                                    </div>
                                    <p class="card-text" style="font-size: 18px;">{{medicine.medication.side_effects}}
                                    </p>

                                    <form method="post" action="{% url 'update_status' medicine.id %}">
                                        {% csrf_token %}
                                        
                                        {% if present_status == False %}
                                        <input class="form-check-input checkbox-large" type="checkbox" disabled
                                        id="check{{medicine.id}}" {% if medicine.is_eaten %} checked {% endif %} 
                                        name = "is_eaten">
                                        {% else %}
                                        <input class="form-check-input checkbox-large" type="checkbox"
                                            id="check{{medicine.id}}" {% if medicine.is_eaten %} checked {% endif %} 
                                            name = "is_eaten">
                                        {% endif %}                                       
                                        <label class="form-check-label" for="flexCheckDefault">
                                            <p style="font-size: 18px;">ทานยาเเล้ว</p>
                                        </label>
                                        <br>
                                        {% if present_status != False %}
                                            <button type="submit" class="btn btn-success" >บันทึกสถานะการทานยา </button>
                                        {% endif %}
                                    </form>


                                    <br>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                    


                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}
