{% extends 'layout.html' %}
{% block name %}{{ month_name }} {{ year }}{% endblock %}

{% block mycss %}
<style>
    td {
        cursor: pointer;
    }

    td:hover {
        background-color: #f0f0f0;
    }

    .highlight {
        background-color: rgb(192, 230, 255) !important;
    }

    .highlight_missed {
        background-color: rgb(247, 136, 136) !important;
    }

    .highlight_not_missed {
        background-color: rgb(170, 253, 195) !important;
    }

    .patient-card {
        background-color: #e9f7fc;
        border-radius: 10px;
        padding: 20px;
        margin: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .patient-card h5 {
        margin-bottom: 10px;
    }

    .center-card {
        display: flex;
        justify-content: center;
        margin-top: 20px; /* adjust the spacing as needed */
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="patient-card">
                <div class="text-center">
                    <div class="text-left d-flex align-items-center" style="background-color: rgb(233, 233, 233); padding: 10px; border-radius: 10px;">
                        <img src="https://via.placeholder.com/80" class="rounded-circle me-2" alt="Profile Picture">
                        <p style="font-size: 90%; text-align: center;"> 
                            <br> ชื่อ-นามสกุล: {{patient_target.name}} <br> 
                            <strong>วันเกิด: </strong>{{patient_target.birthdate}}
                        </p>
                    </div>
                </div>
                <br>
                <p><strong>อายุ:</strong> {{age}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>เพศ:</strong> ชาย</p>
                <p><strong>ยาที่แพ้:</strong> {{patient_target.allergies}}</p>
                <p><strong>โรคประจำตัว:</strong> {{patient_target.medical_history}}</p>
                <p><strong>เบอร์ติดต่อ:</strong> 087-XXXX-XXX</p>
            </div>
            <div style="text-align: center;">
                <a class="btn btn-success" href="{% url 'addappointment' patient_target.id %}">เพิ่มนัดหมาย</a>
            </div>
        </div>
    </div>
</div>

{% for i in medicationschedule %}
<div class="center-card">
    <div class="card" style="width: 18rem;">
        <img src="https://via.placeholder.com/80" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">ผู้ป่วย: {{i.patient}}</p>
            <p class="card-text">ชื่อยๅ: {{i.medication}}</p>
            <p class="card-text">เวลๅที่ทๅน: {{i.time_to_take}}</p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block script %}
{% endblock %}