{% extends 'layout.html' %}
{% load static %}

{% block title %}เพิ่มยา{% endblock %}

{% block mycss %}
<link rel="stylesheet" href="{% static 'css/patient-list.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="container" id="greybackground">
        {% for patient in patient_list_target %}
            <div id="patientlistcontainer">
                <a href="{% url 'patient-detail' patient.id %}" id="taglinktopatient">{{patient.user.first_name}} {{patient.user.last_name}}</a>
            </div>
        {% endfor%}
    </div>
</div>

</div>

</div>
{% endblock %}